.header {
    @extend %container;

    display: flex;
    align-items: center;
    background-color: darkblue;
    padding: 40px 80px;
}

.header__nav {
    display: flex;
    align-items: baseline;
    width: 100%;
}

.header__logo {
    @extend %link;

    font-size: 28px;
    line-height: 1.18;
    letter-spacing: 0.01em;
    font-weight: 700;
    text-transform: capitalize;
    color: $invert-text-color;
}

.header__menu {
    @extend %list;

    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.header__menu-item {
    &:not(:last-child) {
        margin-right: 63px;
    }
}

.header__sub-menu {
    display: none;
}

.header__link {
    @extend %link;

    font-size: 18px;
    line-height: 1.17;
    font-weight: 500;
    
    color: $invert-text-color;
}

.header__cart {
    margin-left: auto;
}