$main-bg-color: #EFEFEF;
$secondary-bg-color: #F7F7F7;
$icon-bg-color: #0D1B39;
$title-color: #1E1E1E;
$main-text-color: #1E1E1E;
$invert-text-color: #FFFFFF;
$accent-color: #E58411;
$main-font: 'Montserrat', sans-serif;